<main class="container">
  <div class="row">
    <div class="offset-md-2"></div>
      <div class="col-md-8">
        <h1>Welcome to <i class="fa-solid fa-book"></i><b>Bookers</b>!!</h1>
      </div>
    <div class="offset-md-2"></div>
  </div>
<main>